<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI TicTacToe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
</head>
<body>
    <h1>Big-Board Tic-Tac-Toe</h1>
    <div class="container">
        <p>Choose your game size:</p>
        <div class="button-container">
            <a href="/v7" class="game-button">7-by-7 Game</a>
            <a href="/v9" class="game-button">9-by-9 Game</a>
        </div>
    </div>
</body>
</html>