<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI TicTacToe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
</head>
<body id="backdrop">
    <h1>Big-Board Tic-Tac-Toe</h1>
    <div class="container">
        <p>Choose your game size:</p>
        <div class="button-container">
            <a href="/v3" class="game-button">3-by-3 Game</a>
            <a href="/v5" class="game-button">5-by-5 Game</a>
            <a href="/v7" class="game-button">7-by-7 Game</a>
            <a href="/v9" class="game-button">9-by-9 Game</a>
            <a href="/v11" class="game-button">11-by-11 Game</a>
            <a href="/botmode" class="game-button">Bot-Vs-Bot Game</a>
        </div>
    </div>
</body>
<script type="module" src="{{ url_for('static', filename = 'index.js') }}"></script>
</html>